Models/__init__.py
Models/__pycache__/
"\\\n./"
__pycache__/
data.zip
data/
dataprog/__pycache__/
ranks.pth.tar
runs/
vocab.zip
vocab/
Image_Text_Retrieval/
.gitmodules
.dropbox
.idea/
.vscode/
*~
else/
.ipynb_checkpoints/
clustering.ipynb
img_sims_5k
img_sims_5k_arccos
*.pth.tar